# Python虚拟环境
.venv/
venv/

# PyCharm
.idea/

# Python缓存
__pycache__/
*.py[cod]

.env
.env.docker
.dockerignore
vector_db/
data/
models
1.py
results.json
summary.json
test_model.py
langgraph_checkpoints.sqlite
langgraph_checkpoints.sqlite-shm
langgraph_checkpoints.sqlite-wal

